nav.menu{
  border-bottom: 1px solid $gray-400;
  font-size: 1.3em;
  font-weight: 500;
  color: $text-main;

  .brand{
    color: $primary-color;
    font-size: 1.3em;
    margin: 0.5rem 1rem;
    font-weight: 600;

    svg{
      width: 50px;
      height: 50px;
      fill: $primary-color;
      margin-right: 1rem;
    }
  }
  a{
    color: $text-main;
    transition: all 0.2s ease-in-out;
    margin: 0 1rem;

    &:hover{
      color: $primary-color;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .cart{
    width: 20px;
  }
}