@keyframes dash-check {
  0% {
    stroke-dashoffset: 19.79;
  }
  25% {
    stroke-dashoffset: 0;
  }
  75%{
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 19.79;
  }  
}

.product-card{
  position: relative;
  margin: 1rem;
  padding: 1.5rem 1rem 1rem;
  box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.2 );
  
  img{
    width: 10rem;
    transition: 150ms ease-out 0s;
    &:hover{
      transform: translate(0, 5px);
    }
  }
  .product-description{
    color: $gray-600;
    font-size: 0.9em;
    text-align: center;
  }

  .price{
    font-size: 0.9em;
  }

  .product-weight{
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
  }

  .btn-add-to-cart{
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 600;
    position: relative;
    padding: 0.7rem 1.5em;

    b{
      transform: translate(0, 0);
      transition: transform 0.4s ease-in-out;
      display: inline-block;
    }

    svg{
      @include absolute($right: 0.2rem, $top: 0.2rem);
      visibility: hidden;
      width: 28px;
      height: 28px;
    }

    &.added{
      b{
        transform: translate(-10px, 0);
      }
      svg{
        visibility: visible;
      }
      .check {
        stroke-dashoffset: 19.79;
        -webkit-animation: dash-check 2s .35s ease-in-out forwards;
        animation: dash-check 2s .35s ease-in-out forwards;
      }
    }
  }
}