@import "~normalize.css/normalize";
@import "variables";
@import "mixins";

@import "utilities/container";
@import "utilities/flex";
@import "utilities/sizes";
@import "utilities/spacing";
@import "utilities/typography";

@import "components/footer";
@import "components/form";
@import "components/header";
@import "components/loader";
@import "components/product_card";
@import "components/toggler";

@import "pages/cart";
@import "pages/menu";

*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $text-main;
  background-color: $white;
}

.relative{
  position: relative;
}

.btn{
  background-color: $gray-200;
  border: 0;
  padding: 0.7rem 1rem;

  &:hover{
    background-color: $gray-300;
    cursor: pointer;
  }
}

.btn.btn-primary{
  background-color: $primary-color;
  color: white;
  &:hover{
    background-color: darken($primary-color, 10%);
  }
  &[disabled]{
    opacity: 0.7;
  }
}

hr{
  border-top: 1px solid $gray-300;
}

.layout-wrapper{
  padding-top: 5.5rem;
}